<div
  class="relative max-w-[300px] h-[450px] rounded-lg hover:shadow-lg overflow-hidden transition-all duration-300 group mx-auto border border-gray-200 bg-white"
>
  <img
    [src]="product().image"
    [alt]="product().title"
    class="hover:scale-105 transition-all duration-300 h-[300px] mx-auto"
  />
  @if (tag()) {
  <div class="absolute top-1 left-1">
    <h1
      [class]="
        tag() == 'oferta'
          ? 'bg-red-400 p-1 rounded-xl text-white text-sm'
          : 'bg-[#38b2ac] p-1 rounded-xl text-white text-sm'
      "
    >
      {{ tag() | titlecase }}
    </h1>
  </div>
  }
  <div
    class="bg-white w-[298px] absolute opacity-0 group-hover:opacity-90 group-hover:translate-y-[-43px] py-2 transition-all duration-300 px-5 flex justify-between items-center"
  >
    <button
      class="bg-[#38b2ac] py-2 px-8 text-white rounded-2xl cursor-pointer"
      (click)="cartService.addToCart(product())"
    >
      <img
        src="images/drawer.svg"
        alt="Icono de carrito"
        class="w-5 inline-block"
      />
      <span class="ml-2 text-sm"> Agregar a carrito </span>
    </button>
    <button class="cursor-pointer">
      <img src="images/favorites.svg" alt="Agregar a favoritos" class="w-7" />
    </button>
  </div>
  <div class="p-3 space-y-3">
    <p
      class="bg-gray-200 hover:bg-gray-300 px-2 py-1 rounded-xl text-gray-700 text-sm inline-block transition-colors duration-300 mt-2"
    >
      {{ product().category | titlecase }}
    </p>
    <p
      class="hover:text-[#38b2ac] transition-colors duration-150 cursor-pointer"
    >
      <a [routerLink]="'/' + product().id">
        {{ product().title.slice(0, 66) }}
      </a>
    </p>
    @if (discount()) {
    <div class="flex gap-5 absolute bottom-2 left-4">
      <p class="font-semibold">{{ product().price | currency }}</p>
      <del class="text-gray-600">{{
        product().price * (1 + discountValue / 100) | currency
      }}</del>
      <p class="text-sm text-red-400">{{ discountValue }}% off</p>
    </div>
    } @else {
    <p class="font-semibold absolute bottom-2 left-4">
      {{ product().price | currency }}
    </p>
    }
  </div>
</div>
