<footer class="bg-[#1a202c] py-20 px-5">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
    <div>
      <h2 class="text-2xl text-white font-semibold py-5">FreshStore</h2>
      <p class="text-gray-200 lg:w-1/2">
        Estilos frescos para un estilo de vida moderno. Materiales de primera
        calidad y de origen ético.
      </p>
    </div>
    <div class="space-y-3">
      <h2 class="text-2xl text-white font-semibold py-5">Contacto</h2>
      <p
        class="text-white hover:text-[#38b2ac] cursor-pointer transition-colors duration-300"
      >
        <img
          src="images/location.svg"
          alt="Icono ubicación"
          class="w-7 inline-block mr-2"
        />
        123 Fashion Street, Design District, Ciudad, CP 12345
      </p>
      <p
        class="text-white hover:text-[#38b2ac] cursor-pointer transition-colors duration-300"
      >
        <img
          src="images/phone.svg"
          alt="Icono Telefono"
          class="w-7 inline-block mr-2"
        />
        +1 (234) 567-8900
      </p>
      <p
        class="text-white hover:text-[#38b2ac] cursor-pointer transition-colors duration-300"
      >
        <img
          src="images/mail.svg"
          alt="Icono email"
          class="w-7 inline-block mr-2"
        />
        info&#64;freshstore.com
      </p>
    </div>
    <div>
      <h2 class="text-2xl text-white font-semibold py-5">
        Horario de atención
      </h2>
      <p class="text-white">Lunes - Viernes: 9:00 AM - 8:00 PM</p>
      <p class="text-white">Sábado - Domingo: 10:00 AM - 6:00 PM</p>
    </div>
  </div>
</footer>
